@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:wght@400;600;700&display=swap');

* {
    font-family: 'Hind', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.App {
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.app-title {
    font-size: 72px;
    margin: 0;
}

.app-description {
    margin: 0;
}