server {
    listen 80;
    client_max_body_size 4G;

    location /static/ {
        # path for static files
        alias {{ repository_path }}/app/static/;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/tmp/cs.sock;
    }
}
