description "upstart"

start on (filesystem)
stop on runlevel [016]

respawn
setuid root
setgid nogroup
chdir {{ repository_path }}


exec gunicorn app:app --bind=unix:/tmp/cs.sock --workers 3 --user=root --log-level=debug -e DATABASE_URL=postgresql://localhost/my_app_db -e APP_SETTINGS=config.ProductionConfig
