body {
	background-color: #f3f2e7;
	font-family: 'Noto Sans KR', sans-serif;
}

h1 {
    padding: 30% 0 15% 0 ;
    font-size: 45pt;
}

#input-label {
    font-size: 25pt;
    font-weight: 100;
}

input {
    margin: 0 2% 0 2%;
}

#submit-button {
    position: absolute;
    top: 40px;
    right: 0;
}

#main-container {
    padding: 0;
}