@media (min-width: 1200px) {
   .container {
       max-width: 970px;
   }
   }
   @media (min-width:400px){
   .global-search {
       padding: 20px 0;
       text-align:center;
   }

   html {
    scroll-behavior: smooth;
  }
   body {
       padding-top: 10%;
       padding-bottom: 15px;
   }
   .global-search {
       text-align:center;
       padding:10px;
   }
   /* .global-search .form-control {
       width:200px;
   } */
   .global-search * {
       display:inline-block;
       margin-bottom:0;
   }
   }
   .topcorner{
       position:absolute;
       top:2%;
       right:2%;
       text-align: right;
       width: 300px;
   }
   .btn{
       background-color: forestgreen;
       border: none
   }
   .step-links a{
       color: #4285F4;
   }

.card {
    margin: auto;
   border-radius: 10px;
   width: 60%;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
 }

 .container {
   padding: 2px 16px;
   width:100%;
 }

 .col {
     display: flex;
     flex-direction: column;
 }

 .display-row {
    display: flex;
    flex-direction: row;
}

#toggles, .access-btn {
    margin: 10px;
}

 .result {
     /* display: flex;
     flex-direction: column; */
     /* padding: 10px; */
     margin-top:10px;
 }

 #name {
     margin-top:10px;
     font-size: 150%;
 }

 #difficulty {
     color: white;
     background-color: forestgreen;
     font-weight: light;
     border-radius: 5px;
     padding-right: 5px;
     width:150px;
     text-align: center;
 }

#length {
    width: 80%;
    color:gray;
}

 #review {
     /* font-weight: bold; */
     margin-top:10px;
     font-size: 90%;
     font-style: italic;
 }

 #activity-types {
    margin-right: 3px;
 }

 #activity-type {
     border: 1px forestgreen solid;
     border-radius: 5px;
     color: forestgreen;
     font-size: 80%;
     font-weight: light;
     padding:3 5 3 5;
     margin-right: 3px;
     text-align: center;


 }

 .trail-img { 
    width: 100%; 
    height:150px;
    object-fit:cover;
     /* max-width: 100%; */
     /* max-height: 200px; */
     border-radius: 10px 10px 0 0;
     overflow: hidden;
     justify-content: flex-end;
 }

 .trail-img img {
    width: 300px; height:200px;
    object-fit:cover
 }
