@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
}
body {
padding-bottom: 15px;
}
.global-search {
padding:10px;
}
.global-search .form-control {
width:500px;
}
}
.topcorner{
position:absolute;
top:2%;
right:2%;
}
.btn{
background-color: #4285F4;
border: none
}
.step-links a{
color: #4285F4;
}

h1 {font-family: 'Rubik Mono One', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100px;
    color: black;
}

h2 {font-family: 'Rajdhani', sans-serif;
    font-size: 14px;
    font-weight: 80;
    line-height: 18px;
    text-align: right;
    color: black;
}

h3 {font-family: 'Rajdhani', sans-serif;
    font-size: 14px;
    font-weight: 80;
    text-align: right;
    color: black;
}

.logo_band {
  width: 100%;
  background-image: url("/static/film_background_3.png");
  height: 100%;
}

.logo {
  display: block;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.tags{
  color: white;
}


.center {
  color: white;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  display:block;
}
/* .form-row {
  margin-bottom: 8%;
} */

/* footer */
.footer {
  height: 30px;
  background-color: #000000;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}