@media (min-width: 1200px) {
	.container {
	    max-width: 970px;
	}
}
@media (min-width:400px){
	.global-search {
		padding: 20px 0;
		text-align:center;
	}
	body {
		padding-top: 5%;
		padding-bottom: 15px;
		background-color: #bbbbbb;
	}
	.global-search {
		text-align:center;
		padding:10px;
	}
	.global-search .form-control {
		width:500px;
	}
	.global-search * {
		display:inline-block;
		margin-bottom:0;
	}
}
.topcorner{
	position:absolute;
	top:2%;
	right:2%;
}
.step-links a{
	color: #4285F4;
}
.metric-box {
	text-align: center;
	font-size: 30px;
	border: 1px solid black;
	border-radius: 10px;
	cursor: pointer;
	background: #9ec69e;
}
h1 {
	font-size: 150px;
	font-family: 'Black Han Sans', sans-serif;
	text-align: center;
}

h4 {
	text-align: center;
}

.info-popup {
	display: none;
	margin-left: 10%;
	margin-right: 10%;
}