body {
    background-color: #eee;
    background-image: url("possible_background2.gif");
    background-repeat:no-repeat;
    background-size:cover;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, 0.1);
    box-shadow: none;
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: 0.28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top: 20px;
}

.preview{
    border: none;
    border-radius: 0.28571429rem;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}
.preview2{
    padding:2%
}

.squareimg-container {
    position: relative;
}

.squareimg-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.squareimg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.get-rating {
    font-size: 3em;
    font-weight: 700;
}

.btn {
    margin-top: auto;
}
