/*
 * Globals
 */

/* Everything fade in */
.cover-container {
   animation: fadein 4s;
}

@keyframes fadein {
   0% {
      opacity: 0;
   }
   79% {
      opacity: 0;
   }
   80% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

hr.fancy {
   border: 0;
   height: 1px;
   background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
   background-color: #fff;
   position: relative;
   overflow-x: hidden;
}

body {
   display: -ms-flexbox;
   display: flex;
   color: #fff;
   text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
   overflow: hidden;
   min-height: 100vh;
}

body.search {
   height: 100vh;
}

.cover-container {
   max-width: 42em;
   z-index: 1;
   padding-top: 7%;
}

/*
 * Header
 */
.masthead {
   margin-bottom: 2rem;
}

.masthead-brand {
   margin-bottom: 0;
}

.masthead-brand a {
   text-decoration: none;
}

.nav-masthead .nav-link {
   padding: .25rem 0;
   font-weight: 700;
   color: rgba(255, 255, 255, .5);
   background-color: transparent;
   border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
   border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
   margin-left: 1rem;
}

.nav-masthead .active {
   color: #fff;
   border-bottom-color: #fff;
}

@media (min-width: 48em) {
   .masthead-brand {
      float: center;
   }
   .nav-masthead {
      float: right;
   }
}

/*
 * Cover
 */
.cover {
   padding: 0 1.5rem;
}
.cover .btn-lg {
   padding: .75rem 1.25rem;
   font-weight: 700;
}

main .lead {
   font-size: 2em;
}

/*
 * Footer
 */
.mastfoot {
   margin-top: 1.5rem;
   color: rgba(255, 255, 255, .5);
}

/* Background */
.liquid {
   margin-top: 15vw;
   background-color: #663333;
   height: calc(100% - 15vw);
   /* height: 100%; */
   position: absolute;
   transform: translate(0, 100%);
   width: 100%;
   z-index: 0;
   animation: fill-action 3s linear 1 forwards;
}

.liquid__wave {
   bottom: 100%;
   position: absolute;
   width: 200%;
   animation: wave-action 2s infinite linear;
   fill: #663333;
   left: 0;
   margin-bottom: -0.0625rem;
}

@keyframes fill-action {
   0% {
      transform: translate(0, 140%);
   }
   100% {
      transform: translate(0, 0);
   }
}

@keyframes wave-action {
   0% {
      transform: translate(0, 0);
   }
   100% {
      transform: translate(-50%, 0);
   }
}

/* Main Form */

.main-form {
   overflow: hidden;
}

.main-form input[type="text"],
.main-form select,
.main-form select:focus {
   margin-left: 1em;
   background: transparent;
   border: none;
   border-bottom: 1px solid rgba(255, 255, 255, 0.5);
   box-shadow: none;
   border-radius: 0;
   font-size: 0.7em;
}

.main-form select,
.main-form select:focus {
   color: #fff;
   -webkit-appearance: none;
   appearance: none;
   background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='white' fill-opacity='0.5' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
   background-position: 100% 50%;
   background-repeat: no-repeat;
}

.main-form input,
.main-form input::placeholder,
.main-form select {
   color: rgba(255, 255, 255, 0.5);
}

.main-form input:focus {
   color: #fff;
   border-bottom: 1px solid white;
}

.main-form select:focus {
   border-bottom: 1px solid white;
   background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='white' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
}

.ui-autocomplete {
   text-align: left;
   text-shadow: none;
   max-height: 100px;
   overflow-y: auto;
   overflow-x: hidden;
}

.main-form .tagsinput input:focus {
   border: none;
}

/* Results List */

.results-list {
   text-shadow: none;
}

.results-list .card {
   background-color: rgba(255, 255, 255, 0.3);
   color: #fff;
   margin-bottom: 2rem;
   border: none;
}

.results-list .card.last {
   margin-bottom: 0;
}

.results-list .card .btn-link {
   color: #fff;
   text-decoration: none;
}

.results-list .card-header {
   border: none;
}

.results-list .card-header i {
   margin: auto 0;
   font-size: 1.5em;
}

.results-list .card-header button {
   position: relative;
   width: 100%;
}
   
.results-list .card-header button::after {
   content: "\f107";
   top: 0;
   right: 0;
   position: absolute;
   font-family: "FontAwesome";
   height: 100%;
   display: flex;
   align-items: center;
}
 
.results-list .card-header button[aria-expanded="true"]::after {
   content: "\f106";
}

.results-list .card-body {
   background-color: rgba(255, 255, 255, 0.8);
}

.results-list .card-body.no-reviews {
   border-radius: 0 0 0.25rem 0.25rem;
}

.results-list .nav-tabs {
   border-bottom: transparent;
}

.results-list .nav-tabs > li {
   float: left;
}

.results-list .nav-tabs > li > a {
   border-radius: 0 0 0.25rem 0.25rem;
}

.results-list .nav-tabs .nav-link.active,
.results-list .nav-tabs .nav-link.active:hover,
.results-list .nav-tabs .nav-link.active:focus {
   color: #555555;
   background-color: rgba(255, 255, 255, 0.8);
   border: none;
   cursor: default;
   font-weight: bold;
}

.reviews blockquote {
   font-size: 1em;
}

/* Loading animation (from https://tobiasahlin.com/spinkit/) */
.sk-fading-circle {
   /* margin: 0 auto; */
   /* width: 40px;
   height: 40px; */
   height: 3.1em;
   width: 3.1em;
   position: relative;
 }
 
 .sk-fading-circle .sk-circle {
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
 }
 
 .sk-fading-circle .sk-circle:before {
   content: '';
   display: block;
   /* margin: 0 auto; */
   width: 15%;
   height: 15%;
   background-color: #fff;
   border-radius: 100%;
   -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
           animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
 }
 .sk-fading-circle .sk-circle2 {
   -webkit-transform: rotate(30deg);
       -ms-transform: rotate(30deg);
           transform: rotate(30deg);
 }
 .sk-fading-circle .sk-circle3 {
   -webkit-transform: rotate(60deg);
       -ms-transform: rotate(60deg);
           transform: rotate(60deg);
 }
 .sk-fading-circle .sk-circle4 {
   -webkit-transform: rotate(90deg);
       -ms-transform: rotate(90deg);
           transform: rotate(90deg);
 }
 .sk-fading-circle .sk-circle5 {
   -webkit-transform: rotate(120deg);
       -ms-transform: rotate(120deg);
           transform: rotate(120deg);
 }
 .sk-fading-circle .sk-circle6 {
   -webkit-transform: rotate(150deg);
       -ms-transform: rotate(150deg);
           transform: rotate(150deg);
 }
 .sk-fading-circle .sk-circle7 {
   -webkit-transform: rotate(180deg);
       -ms-transform: rotate(180deg);
           transform: rotate(180deg);
 }
 .sk-fading-circle .sk-circle8 {
   -webkit-transform: rotate(210deg);
       -ms-transform: rotate(210deg);
           transform: rotate(210deg);
 }
 .sk-fading-circle .sk-circle9 {
   -webkit-transform: rotate(240deg);
       -ms-transform: rotate(240deg);
           transform: rotate(240deg);
 }
 .sk-fading-circle .sk-circle10 {
   -webkit-transform: rotate(270deg);
       -ms-transform: rotate(270deg);
           transform: rotate(270deg);
 }
 .sk-fading-circle .sk-circle11 {
   -webkit-transform: rotate(300deg);
       -ms-transform: rotate(300deg);
           transform: rotate(300deg); 
 }
 .sk-fading-circle .sk-circle12 {
   -webkit-transform: rotate(330deg);
       -ms-transform: rotate(330deg);
           transform: rotate(330deg); 
 }
 .sk-fading-circle .sk-circle2:before {
   -webkit-animation-delay: -1.1s;
           animation-delay: -1.1s; 
 }
 .sk-fading-circle .sk-circle3:before {
   -webkit-animation-delay: -1s;
           animation-delay: -1s; 
 }
 .sk-fading-circle .sk-circle4:before {
   -webkit-animation-delay: -0.9s;
           animation-delay: -0.9s; 
 }
 .sk-fading-circle .sk-circle5:before {
   -webkit-animation-delay: -0.8s;
           animation-delay: -0.8s; 
 }
 .sk-fading-circle .sk-circle6:before {
   -webkit-animation-delay: -0.7s;
           animation-delay: -0.7s; 
 }
 .sk-fading-circle .sk-circle7:before {
   -webkit-animation-delay: -0.6s;
           animation-delay: -0.6s; 
 }
 .sk-fading-circle .sk-circle8:before {
   -webkit-animation-delay: -0.5s;
           animation-delay: -0.5s; 
 }
 .sk-fading-circle .sk-circle9:before {
   -webkit-animation-delay: -0.4s;
           animation-delay: -0.4s;
 }
 .sk-fading-circle .sk-circle10:before {
   -webkit-animation-delay: -0.3s;
           animation-delay: -0.3s;
 }
 .sk-fading-circle .sk-circle11:before {
   -webkit-animation-delay: -0.2s;
           animation-delay: -0.2s;
 }
 .sk-fading-circle .sk-circle12:before {
   -webkit-animation-delay: -0.1s;
           animation-delay: -0.1s;
 }
 
 @-webkit-keyframes sk-circleFadeDelay {
   0%, 39%, 100% { opacity: 0; }
   40% { opacity: 1; }
 }
 
 @keyframes sk-circleFadeDelay {
   0%, 39%, 100% { opacity: 0; }
   40% { opacity: 1; } 
 }
 