@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}

body {
padding-top: 15%;
padding-bottom: 15px;
background-color: #dae0e6;
}
.global-search {
font-family: normal verdana, arial, helvetica, sans-serif;;
text-align:center;
padding:10px;
}
.global-search .form-control {
width:500px;
}

.global-search * {
display:inline-block;
margin-bottom:0;
}
}

.topcorner {
position:absolute;
top:2%;
right:2%;
}

.btn {
background-color: #ff4600; 
border: none
}

.step-links a {
color: #4285F4;
}

.header {
    background: white;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    position: fixed;
    
}

h1 {
    font-size: 55px; 
    font-family: 'Varela Round', sans-serif;
    color: black;
    text-align: center;
    line-height: 155px;
}

.body-text {
    margin-top: 50px;
    font-size: 30px; 
    font-family: normal verdana, arial, helvetica, sans-serif;
    color: black;
    text-align: center;
    
}

.blurb-text {
    margin-top: 50px;
    font-size: 14px; 
    font-family: normal verdana, arial, helvetica, sans-serif;
    color: purple;
    text-align: center;
    
}

.outputmessage {
    font-size: 25px; 
    font-family: normal verdana, arial, helvetica, sans-serif;;
}

a {
    font-size: 20px; 
    font-family: normal verdana, arial, helvetica, sans-serif;; 
    fill: "#ff4600";
}