[inventory]
# avoid "did not meet _ requirements" warnings when using -v
# see https://github.com/ansible/ansible/issues/48859
enable_plugins = ini

[defaults]
inventory=hosts
remote_user=ubuntu
ansible_ssh_private_key_file='~/.ssh/id_rsa'

[ssh_connection]
pipelining = True
