body{
  /* background-color: #B880BA; */
  /* background-image: linear-gradient(to right, #F6F1B6 , #FEBA2C); */
  /* background-image: linear-gradient(to right, #B880BA , #B5CBFA); */
  background-image: linear-gradient(to right, #F69B41 , #E26061);
  width:100%;
  height:100%;
  padding-top: 15vh;
}

h1{
  font-weight: 600;
  font-size: 100px;
  line-height: 1.4em;
  text-shadow: 7px 7px 1.5px #000;
  font-family: lulo-clean-w01-one-bold, sans-serif;
  color: white;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-bottom: 20px;
}

/* not sure why but this was difficult to do */
/* https://stackoverflow.com/questions/55625102/center-align-component-both-vertical-and-horizontal-in-react */
.formGroupCenter {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.name{
  color: white;
  text-align: right;
}

.jokes-col {
  padding-bottom: 20px;
}

img{
  width: 300px;
}

.form-label{
  font-size: 18px;
  padding-top: 3px;
  flex: 0 0 160px;
}

.category_label {
  flex: 0 0 100px;
}

.score_options{
  font-size: 18px;
  padding-top: 3px;
}

input[type=radio] {
  position: absolute;
}

.form-control {
  border-radius: .5rem;
  color: #6D757D;
}

.App-Component {
  width: 300px;
}