<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>To Do List</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/index.css">
	<!-- <script src="logic.js"></script> -->
	
</head>
<body class="container" id="main-container">
	<div id="list-container" class="container-fluid">
		<!-- List title -->
		<div class="row">
			<section class="col"></section>
			<section class="col-10 col-md-10 col-lg-8">
                <h1>Welcome!</h1>
                <form>
                    <div class="row">
                        <label for="number-input">We want to read</label>
                        <input type="number" id="number-input" name="tentacles"
                            min="2" max="100">
                        <p>books</p>
                    </div>
    
                    <!-- <button type="submit" class="btn btn-primary">Next</button> -->
                    <button class="btn btn-primary"><a href="/html/search.html" style="color:white">Next</button></a></button>
                </form>
			</section>
			<section class="col" align="right"></section>
		</div>
	</div>
</body>
</html>