<html>

<head>

</head>

<body>
  <h1>{{title}}</h1>
  <p id="description">Recipe Description</p>
  <p id="author">Author Name: {{author}}</p>

  <!-- image -->
  <div id="ingredients">
    <h3>Ingredients</h3>
    <ul>
      {% for ingredient in ingredients.split(",") %}
      <li>{{ingredient}}</li>
      {% endfor %}
    </ul>
  </div>

  <div id="steps">
    <h3>Steps</h3>
    <ol>
      {% for step in steps.split('.') %}
      <li>{{step}}</li>
      {% endfor %}
    </ol>
  </div>



</body>

</html>