<html>

<head>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <style>
    body {
      padding-top: 0px;
    }

    main {
      padding-top: 10%;
    }

    .background_img {
      background-image: url(/static/board.jpg);
      position: fixed;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-attachment: fixed;
      background-size: cover;
      z-index: -100;
      filter: blur(1px);
    }

    /* 
    .results-table {
      margin-left: auto;
      margin-right: auto;
      table-layout: fixed;
      width: 100%;
    }

    .results-table td {
      padding: 0px 25px 0px 25px;
      text-align: center;
      vertical-align: middle;
    } 
    */

    .normal-title {
      font-size: 140%;
      font-weight: bold;
      padding-bottom: 10px;
      color: #0d4194;
    }

    ul li {
      list-style: none;
    }

    .results-div {
      align-content: center;
      text-align: center;
      margin: 0px 20px;
    }

    /* this is meant for each category div; haven't tested yet */
    .category {
      align-content: center;
      text-align: center;
      padding: 20px;
      margin: 0px 10px;
      background-color: rgba(236, 187, 122, 0.8);
      width: 100%;
    }

    .form-group {
      margin: 20px;
      width: 90%;
    }

    .global-search .form-control {
      margin: 0px 0px 0px 2px;
    }

    .global-search .form-text {
      width: 500px;
    }

    .global-search .form-num {
      width: 100px;
    }

    .global-search .form-box {
      margin: 0px 2px 0px 15px;
      padding: 0px;
      width: 15px;
      height: 15px;
    }

    .hidden {
      display: none;
    }

    h1 {
      text-align: center;
    }
  </style>
</head>

<body>

  <div class="background_img"></div>

  <!--
    <div class="topcorner">
        <p>Project Name: {{ name }}</p>
        <p>Student Names: ({{ netid }})</p>
    </div>
    -->
  <main>
    <form class="form-inline global-search">
      <h1 style="font-size: 55px; font-family:Futura">
        <span style="color: rgb(4, 70, 19);">S</span>
        <span style="color: rgb(17, 80, 29);">M</span>
        <span style="color: rgb(26, 87, 37);">A</span>
        <span style="color: rgb(35, 99, 47);">R</span>
        <span style="color: rgb(46, 110, 58);">T</span>
        <span> 🔪 </span>
        <span style="color: rgb(53, 121, 66);">C</span>
        <span style="color: rgb(61, 121, 66);">H</span>
        <span style="color: rgb(83, 131, 76);">E</span>
        <span style="color: rgb(102, 151, 95);">F</span>
      </h1>

      <br><br>

      <p>
        Start your fitness journey right!!
        Enter your information for a curated list of recipes.
      </p>

      <br><br>

      <div class="form-group">
        <label id="fav-input">Favorite foods: </label>
        <input id="fav-input" type="text" name="fav-foods" class="form-control form-text"
          placeholder="e.g. 'watermelon, fish, cashews'">
        <input type="hidden" name="version" value="2">
      </div>

      <div class="form-group">
        <label id="res-input">Diet restrictions: </label>
        <input id="res-input" type="text" name="res-foods" class="form-control form-text"
          placeholder="e.g. 'nuts, milk, shrimp'">
        <input type="hidden" name="version" value="2">
      </div>

      <div class="form-group">
        <label id="cal-input">Calorie limit: </label>
        <input id="cal-input" type="number" name="cal-limit" min=0 max=20000 class="form-control form-num">
      </div>

      <div class="form-group">
        <label>Meal recommendations by category: </label>
        <input type="checkbox" class="form-control form-box form-category" id="b-toggle" name="breakfast">
        <label id="b-toggle">Breakfast</label>

        <input type="checkbox" class="form-control form-box form-category" id="l-toggle" name="lunch">
        <label id="l-toggle">Lunch</label>

        <input type="checkbox" class="form-control form-box form-category" id="d-toggle" name="dinner">
        <label id="d-toggle">Dinner</label>
      </div>

      <div class="form-group">
        <input type="checkbox" class="form-control form-box" id="drink-toggle" name="include-drink">
        <label id="drink-toggle">Include drinks</label>
      </div>

      <div class="form-group">
        <button id="submit" type="submit" class="btn btn-info"> Make meal plan ! </button>
      </div>

    </form>
    <script>
      function displayData() {
        var resultDiv = $("#results");
        var breakfast_data = JSON.parse($("#breakfast_data").text());
        var lunch_data = JSON.parse($("#lunch_data").text());
        var dinner_data = JSON.parse($("#dinner_data").text());

        var resultHTML = "";

        if (breakfast_data) resultHTML += $('#breakfastHtml').html();
        if (lunch_data) resultHTML += $('#lunchHtml').html();
        if (dinner_data) resultHTML += $('#dinnerHtml').html();

        resultDiv.html(resultHTML);
      }
    </script>
    <h1>{{output_message}}</h1>
    <div id="results" class="results-div">
      {% if breakfast_data or lunch_data or dinner_data %}
      {% if breakfast_data %}
      <div id="breakfastHtml" class="hidden">
        <div class="category">
          {% for i in range(breakfast_data|length) %}
          <p class="normal-title">{{i + 1}}. {{breakfast_data[i]["title"]}}</p>
          {% if breakfast_data[i]["description"] is not none %}
          <p><i>{{breakfast_data[i]["description"]}}</i></p>
          {% endif %}
          {% if breakfast_data[i]["calories"] is not none %}
          <p><strong>Calories:</strong> {{breakfast_data[i]["calories"]}}</p>
          {% endif %}
          {% if breakfast_data[i]["fat"] is not none %}
          <p><strong>Fat:</strong> {{breakfast_data[i]["fat"]}} g</p>
          {% endif %}
          {% if breakfast_data[i]["protein"] is not none %}
          <p><strong>Protein:</strong> {{breakfast_data[i]["protein"]}} g</p>
          {% endif %}
          {% if breakfast_data[i]["sodium"] is not none %}
          <p><strong>Sodium:</strong> {{breakfast_data[i]["sodium"]}} mg</p>
          {% endif %}
          {% if breakfast_data[i]["rating"] is not none %}
          <p>
            {% for i in range(breakfast_data[i]["rating"] | int) %}
            &#9733
            {% endfor %}
            {% for i in range(5 - breakfast_data[i]["rating"] | int) %}
            &#9734
            {% endfor %}
          </p>
          <br>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% if lunch_data %}
      <div id="lunchHtml" class="hidden">
        <div class="category">
          {% for i in range(lunch_data|length) %}
          <p class="normal-title">{{i + 1}}. {{lunch_data[i]["title"]}}</p>
          {% if lunch_data[i]["description"] is not none %}
          <p><i>{{lunch_data[i]["description"]}}</i></p>
          {% endif %}
          {% if lunch_data[i]["calories"] is not none %}
          <p><strong>Calories:</strong> {{lunch_data[i]["calories"]}}</p>
          {% endif %}
          {% if lunch_data[i]["fat"] is not none %}
          <p><strong>Fat:</strong> {{lunch_data[i]["fat"]}} g</p>
          {% endif %}
          {% if lunch_data[i]["protein"] is not none %}
          <p><strong>Protein:</strong> {{lunch_data[i]["protein"]}} g</p>
          {% endif %}
          {% if lunch_data[i]["sodium"] is not none %}
          <p><strong>Sodium:</strong> {{lunch_data[i]["sodium"]}} mg</p>
          {% endif %}
          {% if lunch_data[i]["rating"] is not none %}
          <p>
            {% for i in range(lunch_data[i]["rating"] | int) %}
            &#9733
            {% endfor %}
            {% for i in range(5 - lunch_data[i]["rating"] | int) %}
            &#9734
            {% endfor %}
          </p>
          <br>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% if dinner_data %}
      <div id="dinnerHtml" class="hidden">
        <div class="category">
          {% for i in range(dinner_data|length) %}
          <p class="normal-title">{{i + 1}}. {{dinner_data[i]["title"]}}</p>
          {% if dinner_data[i]["description"] is not none %}
          <p><i>{{dinner_data[i]["description"]}}</i></p>
          {% endif %}
          {% if dinner_data[i]["calories"] is not none %}
          <p><strong>Calories:</strong> {{dinner_data[i]["calories"]}}</p>
          {% endif %}
          {% if dinner_data[i]["fat"] is not none %}
          <p><strong>Fat:</strong> {{dinner_data[i]["fat"]}} g</p>
          {% endif %}
          {% if dinner_data[i]["protein"] is not none %}
          <p><strong>Protein:</strong> {{dinner_data[i]["protein"]}} g</p>
          {% endif %}
          {% if dinner_data[i]["sodium"] is not none %}
          <p><strong>Sodium:</strong> {{dinner_data[i]["sodium"]}} mg</p>
          {% endif %}
          {% if dinner_data[i]["rating"] is not none %}
          <p>
            {% for i in range(dinner_data[i]["rating"] | int) %}
            &#9733
            {% endfor %}
            {% for i in range(5 - dinner_data[i]["rating"] | int) %}
            &#9734
            {% endfor %}
          </p>
          <br>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}

      <p id="breakfast_data" class="hidden">{{ breakfast_data | tojson }}</p>
      <p id="lunch_data" class="hidden">{{ lunch_data | tojson }}</p>
      <p id="dinner_data" class="hidden">{{ dinner_data | tojson }}</p>
      <script>
        displayData();
      </script>

      <!--
      <script>
        $("#submit").click(function () {
          var result = $("#results");
          var catHtml = $('#catHtml').html();
          var resultHtml = '';
          var checked = $('.form-category:checkbox:checked');

          if (checked.length > 0) {
            for (c in checked) {
              resultHtml += [catHtml].join("\n");
            }
          } else {
            resultHtml += [catHtml].join("\n") + [catHtml].join("\n") + [catHtml].join("\n");
          }

          result.html(resultHtml);
          return false;
        });
      </script>
    -->

      {% endif %}
      <!-- this is the original result display -->
      <!--
      {% if data %}
      <br><br>
      {% for i in range(data|length) %}
      <p class="normal-title">{{i + 1}}. {{data[i]["title"]}}</p>
      {% if data[i]["description"] is not none %}
      <p><i>{{data[i]["description"]}}</i></p>
      {% endif %}
      {% if data[i]["calories"] is not none %}
      <p><strong>Calories:</strong> {{data[i]["calories"]}}</p>
      {% endif %}
      {% if data[i]["fat"] is not none %}
      <p><strong>Fat:</strong> {{data[i]["fat"]}} g</p>
      {% endif %}
      {% if data[i]["rating"] is not none %}
      <p>
        {% for i in range(data[i]["rating"] | int) %}
        &#9733
        {% endfor %}
        {% for i in range(5 - data[i]["rating"] | int) %}
        &#9734
        {% endfor %}
      </p>
      <br>
      {% endif %}
      {% endfor %}

      {% endif %}
    -->
    </div>
  </main>
</body>

</html>