<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Rajdhani|Rubik+Mono+One" rel="stylesheet">
        <link rel="stylesheet" href="/static/main.css">
        <!-- <style>
          body {
            background-color: gray;
          }
          </style> -->
    </head>
    <body>

        <div class="topcorner">
            <h1>Project Name: {{ name }}</h1>
            {% if netids %}
                {% for nid in netids %}
                    <h3>{{ nid }}</h3>
                {% endfor %}
            {% endif %}

        </div>
        <form class="form-inline global-search" method="GET">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                <!-- <font color=#EA4335>Pop</font> -->
                <img style="margin-left: -7%; max-width: 200%" src= "/static/logo.png" alt="CinemaPop">
            </h1>

            <br><br>

            Similar Movies:
            <br>
            <div class="form-group" id="movie_selector">
                <input id="similar_movies" list="movie_list" type="text" name="similar" class="form-control" placeholder="Movie name">
                <datalist id="movie_list">
                    {% if movie_list %}
                        {% for m in movie_list %}
                            <option value='{{m}}'>
                        {% endfor %}
                    {% endif %}
                </datalist>
            </div>
            <br><br>
            Genres:
            <br>
            <div class="form-group" style="padding-left: 80px;">
                <input id="select_genres" list="genre_list" name="genres" class="form-control" placeholder="e.g. Action, History, etc.">
                <datalist id="genre_list">
                    {% if genre_list %}
                        {% for g in genre_list %}
                            <option value='{{g}}'>
                        {% endfor %}
                    {% endif %}
                </datalist>
            </div>
            <br><br>
            Duration (in minutes; range separated by dash):
            <br>
            <div class="form-group">
                <input id="input" type="text" name="duration" class="form-control" placeholder="e.g. 90 - 200">
            </div>
            <br><br>
            Release Years (range separated by dash):
            <br>
            <div class="form-group">
                <input id="input" type="text" name="release" class="form-control" placeholder="e.g. 1996 - 2004">
                <br>
            </div>
            <br><br>
            Acclaim:
            <br>
            <div class="form-group">
                <input type="radio" name="acclaim" value="yes" checked> Yes<br>
                <input type="radio" name="acclaim" value="no"> No<br>
            </div>
            <br><br>
            Cast/Crew (separated by commas):
            <br>
            <div class="form-group">
                <input id="input" type="text" name="castCrew" class="form-control" placeholder="Your Input">
            </div>
            <br><br>
            Keywords (separated by commas):
            <br>
            <div class="form-group">
                <input id="input" type="text" name="keywords" class="form-control" placeholder="Your Input">
            </div>
            <br><br>
            <button type="submit" class="btn btn-info"> Get Recommendations </button>
        </form>
        <form class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            {% for d in data %}
                <br><br>
                <p>Title: {{d['title']}}</p>
                <br>
                <p>Similarity: {{d['similarity']}}%</p>
                <br>
                <img src={{d['poster']}} alt={{d['title']}} style="height:200px;">
                <br>
                <p>Synopsis: {{d['overview']}}</p>
                <br>
                <p>Genres: {{d['genres']}}</p>
                <br>
                <p>Duration: {{d['runtime']}} min</p>
                <br>
                <p>Release Date: {{d['release_date']}}</p>
                <br>
                <p>User Score: {{d['vote_average']}}/10.0</p>
                <br>
                <p>Cast: TBD</p>
                <br>
                <p>{% if d['homepage']: %}
                        Homepage: <a href ={{d['homepage']}}>Link</a>
                    {% endif %}
                </p>
            {% endfor %}
        {% endif %}
        </form>
    </body>

</html>
