@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input[type=text]{
	width: 75%;
	padding: 12px 20px;
	margin: 8px 2px;
	border: solid 1px;
	border-radius: 2px;
}

#submit_button{
	padding: 12px 20px;
	margin: 8px 2px;
	border: solid 1px;
	background-color: #f1f1f1;
	border-radius: 2px;
	font-family: Roboto;
}

#submit_button:hover{
	background-color: #e4e4e4;
}

label{
	display: block;
	padding-top: 5%;
	margin: 0 auto;
	width: 50%;
}

.title{
	font-size: 100px;
	text-align: center;
	padding-right: 10%;
	font-family: Roboto;
	font-weight: bold;
	color: #5f99cf;
}

.comment {
	margin: auto;
	display: block;
	width: 65%;
	font-family: "Verdana";
	border: 1px #ccc solid;
	padding: 10px 30px;
	/*margin: 10px 10px;*/
}

.comment-header {
	font-size: 1px;
}

.author {
	color: steelblue;
}

.score {
	color: black;
	font-weight: bold;
}

.votes {
	color: darkgray;
}

a {
	font-weight: bold;
	color: gray;
}

a:hover {
	font-weight: bold;
	color: gray;
}