@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@font-face {
  font-family: 'VAG Rounded';
  src: url("../fonts/VAGRoundedStd-Light.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

input[type=text]{
  background: #d2e3f6;
	width: 75%;
  border: none;
  border-bottom: 1px solid black;
	padding: 12px 20px;
	margin: 8px 2px;
}

#submit_button{
	background-color: #d2e3f6;;
  border: none;
}

label{
	display: block;
	padding-top: 5%;
	margin: 0 auto;
	width: 50%;
}

.header {
  background: #d2e3f6;
}

.title{
	font-size: 100px;
	text-align: center;
	font-family: 'VAG Rounded';
	font-weight: bold;
}

.info {
  font-weight: 550;
}

.tip {
  font-size: 13px;
  margin: auto;
  display: block;
  width: 65%;
  font-family: "Verdana";
  padding: 10px 30px;
}

.comment {
	margin: auto;
	display: block;
	width: 65%;
	font-family: "Verdana";
	border: 1px #ccc solid;
	padding: 10px 30px;
}

.comment button {
  background: none;
  border: none;
  cursor: pointer;
  color: #3e6695;
  text-decoration: underline;
}

.comment-header {
	font-size: 13px;
	margin-bottom: 5px;
}

.author {
  color: #3e6695;
  font-weight: bold;
}

.score {
	color: black;
	font-weight: bold;
}

.votes {
	color: darkgray;
}

a.permalink {
	font-size: 13px;
	font-weight: bold;
	color: gray;
}

a:hover.permalink {
	font-weight: bold;
	color: gray;
}

form {
    overflow: hidden;
    white-space: nowrap;
}

/** from w3 schools */
.loader {
    border: 16px solid #eee; /* Light grey */
    border-top: 16px solid #5f99cf; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    display: block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.load-more {
  color: #3e6695;
  font-weight: bold;
  margin-top: 0.5%;
  border: none;
  background: none;
  text-decoration: none;
  margin-left: 17.5%;
  font-size: 12px;
  cursor: pointer;
}

.footer {
  margin-top: 2%;
  top: 100vh;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 11px;
  text-align: center;
}